In [27]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [32]:
# Pull in county-level race data from 2019
# Data from Data World
csv_file = "ETL_Data/US_county_data_race_2019.csv"
race_data_df = pd.read_csv(csv_file)
race_data_df.head()

,FIPS,STFIPS,COFIPS,state_abbrev,state,county,year,pop,white_pop,black_pop,asian_pop,indian_pop,pacific_pop,two_pop,not_hisp_pop,hisp_pop
0,1001,1,1,AL,Alabama,Autauga,2010,54571,43297,9689,484,258,47,796,53261,1310
1,1001,1,1,AL,Alabama,Autauga,2011,55227,43699,9883,514,261,51,819,53888,1339
2,1001,1,1,AL,Alabama,Autauga,2012,54954,43315,9949,552,275,44,819,53639,1315
3,1001,1,1,AL,Alabama,Autauga,2013,54727,42943,9984,561,279,46,914,53363,1364
4,1001,1,1,AL,Alabama,Autauga,2014,54893,42945,10103,573,279,50,943,53461,1432

In [60]:
# Filter only 2019 data
race_data_2019 = race_data_df.loc[race_data_df["year"]==2019]
# Pull out desired columns
race_data_clean = race_data_2019[["state", "county","pop", "white_pop", "black_pop", "asian_pop", "indian_pop", "pacific_pop", "two_pop","not_hisp_pop","hisp_pop"]]
race_data_clean.reset_index(drop=True).head()

,state,county,pop,white_pop,black_pop,asian_pop,indian_pop,pacific_pop,two_pop,not_hisp_pop,hisp_pop
0,Alabama,Autauga,55869,42607,11237,656,266,58,1045,54198,1671
1,Alabama,Baldwin,223234,195198,19593,2380,1742,154,4167,212700,10534
2,Alabama,Barbour,24686,12134,11906,116,170,52,308,23569,1117
3,Alabama,Bibb,22394,17191,4763,48,103,26,263,21771,623
4,Alabama,Blount,57826,55412,978,185,370,67,814,52244,5582

In [56]:
race_data_clean["state"].nunique()

50

In [59]:
race_data_clean.groupby(["state"]).sum()

,pop,white_pop,black_pop,asian_pop,indian_pop,pacific_pop,two_pop,not_hisp_pop,hisp_pop
state,,,,,,,,,
Alabama,4903185,3389396,1313291,73715,34799,5110,86874,4679907,223278
Alaska,731545,477488,27108,47799,113953,10498,54699,678333,53212
Arizona,7278717,6013442,376997,268723,385903,20169,213483,4968127,2310590
Arkansas,3017804,2385258,473048,50403,30717,11786,66592,2781173,236631
California,39512223,28424739,2552757,6110945,649862,199805,1574115,23937343,15574880
Colorado,5758736,5006612,264479,202664,92982,11329,180670,4501832,1256904
Connecticut,3565287,2841541,434585,176579,20567,3879,88136,2964332,600955
Delaware,973764,674075,225544,39863,6564,1059,26659,880373,93391
Florida,21477737,16597392,3633515,634827,108950,24641,478412,15813877,5663860
Georgia,10617423,6391505,3458147,463966,56008,12411,235386,9568699,1048724
Hawaii,1415872,361317,30958,532190,5570,143549,342288,1265008,150864
Idaho,1787065,1662365,16346,27711,31120,3944,45579,1557575,229490
Illinois,12671821,9726915,1852516,747690,75500,8385,260815,10451939,2219882
Indiana,6732219,5709592,669596,174750,28340,4539,145402,6242866,489353
Iowa,3155070,2859080,128105,84119,17060,4804,61902,2956520,198550
Kansas,2913314,2513846,178725,92862,35063,3687,89131,2557241,356073
Kentucky,4467673,3909923,378479,71504,13404,4192,90171,4292967,174706
Louisiana,4648794,2918843,1524733,84192,36596,2854,81576,4401822,246972
Maine,1344212,1269326,22691,17420,9767,455,24553,1320512,23700
Maryland,6045680,3539444,1878645,406303,36840,6705,177743,5401858,643822
Massachusetts,6892503,5554165,621902,497517,34310,7410,177199,6037596,854907
Michigan,9986857,7911567,1407890,336384,73865,4186,252965,9458652,528205
Minnesota,5639632,4723931,395556,292507,77479,4214,145945,5324502,315130
Mississippi,2976149,1758081,1124559,33032,18705,1806,39966,2876039,100110
Missouri,6137428,5086188,725579,133312,35839,9857,146653,5868720,268708
Montana,1068778,950211,6389,9833,71096,920,30329,1025489,43289
Nebraska,1934408,1704129,100763,53187,29285,2349,44695,1714763,219645
Nevada,3080156,2277552,316303,268166,51946,24585,141604,2179556,900600
New Hampshire,1359711,1266097,24371,40300,4114,672,24157,1305122,54589
New Jersey,8882190,6388804,1337457,886810,55429,10240,203450,7025346,1856844
New Mexico,2096829,1716656,54772,37550,229794,3341,54716,1063887,1032942
New York,19453561,13546776,3421123,1753199,189748,27034,515681,15702503,3751058
North Carolina,10488084,7399487,2330563,334299,165597,13130,245008,9462254,1025830
North Dakota,762062,662555,25984,12860,42465,615,17583,730530,31532
Ohio,11689100,9552736,1525570,291478,34010,7055,278251,11218638,470462
Oklahoma,3956971,2927354,307819,94253,371104,8581,247860,3518861,438110
Oregon,4217737,3655136,93740,204739,77115,19245,167762,3650890,566847
Pennsylvania,12801989,10447062,1540092,481877,50687,9994,272277,11801839,1000150
Rhode Island,1059361,885518,90108,39536,11453,2125,30621,886717,172644
South Carolina,5148714,3532048,1388017,94111,28236,5065,101237,4841596,307118
South Dakota,884659,748070,20332,13699,80004,787,21767,847308,37351
Tennessee,6829174,5354405,1164461,134076,32661,6578,136993,6437792,391382
Texas,28995881,22806130,3739221,1510470,294902,43212,601946,17470303,11525578
Utah,3205958,2904132,47537,85727,49720,33979,84863,2743907,462051
Vermont,623989,588102,8774,11964,2441,247,12461,611270,12719
Virginia,8535519,5922648,1696911,589710,46602,10092,269556,7701097,834422
Washington,7614893,5977696,331924,727986,146799,60349,370139,6623172,991721
West Virginia,1792147,1675122,64610,14703,4585,530,32597,1760985,31162
Wisconsin,5822434,5067781,390543,175279,68628,3419,116784,5409226,413208
Wyoming,578759,535371,7467,6571,15778,596,12976,520150,58609

In [52]:
# Pull in state-level household data from 2019
# Data from Census.gov
csv_file = "ETL_Data/US_state_data_household_2019.csv"
household_data_df = pd.read_csv(csv_file)
household_data_df.head()

,id,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!In households:,Margin of Error!!Total:!!In households:,Estimate!!Total:!!In households:!!Householder:,Margin of Error!!Total:!!In households:!!Householder:,Estimate!!Total:!!In households:!!Householder:!!Male:,Margin of Error!!Total:!!In households:!!Householder:!!Male:,...,Estimate!!Total:!!In households:!!Son-in-law or daughter-in-law,Margin of Error!!Total:!!In households:!!Son-in-law or daughter-in-law,Estimate!!Total:!!In households:!!Other relatives,Margin of Error!!Total:!!In households:!!Other relatives,Estimate!!Total:!!In households:!!Foster child,Margin of Error!!Total:!!In households:!!Foster child,Estimate!!Total:!!In households:!!Other nonrelatives,Margin of Error!!Total:!!In households:!!Other nonrelatives,Estimate!!Total:!!In group quarters,Margin of Error!!Total:!!In group quarters
0,0400000US01,Alabama,4903185,*****,4786560,*****,1897576,10370,934543,13485,...,16388,2507,71266,6594,3856,1201,126690,9903,116625,*****
1,0400000US02,Alaska,731545,*****,704872,*****,252199,3658,132888,4164,...,4340,1082,9525,2781,1382,708,37532,4811,26673,*****
2,0400000US04,Arizona,7278717,*****,7116824,*****,2670441,12014,1366967,12681,...,38742,3654,114165,9173,7835,2135,286412,14785,161893,*****
3,0400000US05,Arkansas,3017804,*****,2933793,*****,1163647,8530,568491,8465,...,12955,1897,33354,4402,2819,1030,96369,7777,84011,*****
4,0400000US06,California,39512223,*****,38685702,*****,13157873,23844,6827536,31070,...,304126,9831,855556,23519,36352,4479,1897313,30426,826521,*****

In [53]:
# Pull out desired columns
household_data_clean = household_data_df.iloc[:,[1,10,12,16,18]]
# Rename columns
household_data_clean.columns = ["state", "Males Living Alone","Males Not Living Alone","Females Living Alone", "Females Not Living Alone"]
household_data_clean.head()

,state,Males Living Alone,Males Not Living Alone,Females Living Alone,Females Not Living Alone
0,Alabama,251848,682695,314320,648713
1,Alaska,37276,95612,31833,87478
2,Arizona,333832,1033135,394831,908643
3,Arkansas,152722,415769,190379,404777
4,California,1413298,5414238,1755704,4574633

In [55]:
household_data_clean["state"].nunique()

52

In [61]:
rds_connection_string = "<insert user name>:<insert password>@localhost:5432/customer_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [62]:
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "<insert user name>"

(Background on this error at: http://sqlalche.me/e/13/e3q8)